/* Mover el contenido hacia abajo para no ser tapado por el navbar */
.dashboard-wrapper {
  display: flex;
  height: 100vh;
}

.dashboard-container {
  display: flex;
  flex: 1;
  transition: margin-left 0.3s ease;
  margin-left: 60px; /* El margen coincide con el ancho del sidebar cerrado */
}

.dashboard-container--shift {
  margin-left: 240px; /* Cuando el sidebar está abierto */
}

.content {
  padding: 20px;
  flex: 1;
  margin-top: 100px; /* Aumentamos el margen superior para evitar que el navbar lo tape */
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilo del modal */
.modal-custom {
  max-width: 80vw; /* Hacemos que el modal sea horizontal y más ancho */
  width: 100%;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-horizontal .form-group {
  margin-bottom: 20px;
}

.form-horizontal .form-control {
  width: 100%;
}

.form-horizontal .form-check {
  margin-top: 32px; /* Para alinear la checkbox con otros campos */
}

/* Estilo del botón */
.btn-submit {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}

.btn-update {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}

.modal-custom {
  max-width: 75vw; /* Hacer el modal más ancho */
  width: 100%;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-horizontal {
  width: 100%; /* Asegura que el formulario ocupe todo el espacio */
}

.form-horizontal .form-group {
  margin-bottom: 20px;
}

.btn-submit, .btn-update {
  width: 100px; /* Ajustamos el tamaño de los botones para que no ocupen todo el espacio */
  margin-left: 10px;
}

